<!DOCTYPE>

<html>

<head>

    <title>
    ABOUT
</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>


<body>

<div class="main-content">
{{>header}}

<p>This site is created by Andy as a test previous Tesis</p>


{{name}}

</div>




{{>footer}}

</body>


</html>